@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --primary-color: #30336b;
  --secondary-color: #be2edd;
  --sideBar-width: 204px;
  --presentation-title_color: turquoise;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 38px;
}
body {
  margin: 0;
  display: flex;
  transition: transform 0.3s ease;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background: #082159;
}

/*  Animate the sidebar  */
body.show-nav {
  transform: translateX(200px);
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.background img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
header {
  position: fixed;
  width: 100%;
  padding: 40px 15px;
}

/* SideNav Button */
.toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

button {
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: 8px 12px;
}

/*  TOPBAR  */
.topbar {
  position: fixed;
  top: 18px;
  right: 0;
}

.topbar nav {
  margin: 0;
  padding: 0;
}
nav.topbar {
  display: flex;
  justify-content: flex-end;

  width: 100px;
  padding: 20px;
}
nav.topbar ul {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  margin-right: 120px;
  padding: 0;
}

nav.topbar ul li {
  margin: 0 12px;
  font-size: 14px;
  background-color: transparent;
  color: #000;
}

nav.topbar ul li a {
  color: #fff;
}

/*  Sidebar */
.sideNav {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: var(--sideBar-width);
  height: 100%;
  z-index: 100;

  background-color: var(--primary-color);
  color: #fff;
  transform: translateX(-100%);
  /* display: none; */
}

/* SideNav img */
.sideNav .logo {
  padding: 30px 0;
  text-align: center;
}

.sideNav .logo img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.logo-title {
  text-align: center;

  margin-top: -20px;
}

/* SideNav social icons */

.social-icons {
  margin: 60px 0;
  text-align: center;
}

.social-icons {
  display: flex;
}
.social-icons ul {
  display: flex;
  width: 100%;
  justify-content: center;
}
.social-icons ul li {
  display: block;
  flex-shrink: 1;
  font-size: 14px;
  background-color: transparent;
  color: #000;
}
/* SideNav links */
.sideNav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.sideNav ul li {
  padding: 20px;
}

.sideNav ul li a {
  color: #fff;
  text-decoration: none;
}

.sidenav-menu {
  display: flex;
}
.sidenav-menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  /* margin-left: 12px; */
}

.sidenav-menu ul li {
  display: flex;
  width: 100%;
  padding: 20px 0;
  font-size: 22px;
}
.sidenav-menu ul li a {
  margin-left: 8px;
}
.sidenav-menu ul li i {
  margin-right: 8px;
}

/*  --------------------------------------------------------- */

/*  Main Content  */
.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
  height: 100vh;
}

section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-section {
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
}

.welcome-section .presentation-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: presentationText-animate 1.8s ease-in;
  opacity: 1;
}

@keyframes presentationText-animate {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(0);
  }
}
.presentation-text .presentation-title {
  margin: 0;
  padding: 0;
  color: var(--presentation-title_color);
  font-size: 25px;
}
.presentation-text .presentation-description {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.welcome-section .main-title {
  margin-top: 150px;
  font-size: 52px;
  line-height: 3.9rem;
  padding: 12px;
  color: #fff;
  animation: title-animate 1.3s ease;
}
@keyframes title-animate {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

.profile-section {
  background: #262956;
}
.profile-section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-section h2 {
  margin-top: 42px;
  color: #fff;
  font-size: 34px;
}

.profile-section .profile-image {
  text-align: center;
}
.profile-section .profile-image img {
  height: 358px;
  width: 358px;
  border-radius: 50%;
}

.profile-section .profile-content {
  justify-content: center;
  align-items: center;
  width: 100%;
}
.profile-section article ul {
  list-style: none;
  margin: 0;
  padding: 20px 0;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  color: #fff;
}

.profile-section article ul li {
  display: flex;
  justify-content: center;
  margin: 12px 0;
  width: 100%;
  height: 42px;
}

.profile-section article ul li label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  font-size: 14px;
  font-weight: bold;
  margin-right: 12px;
}

.profile-section article ul li .value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  padding-left: 12px;
  font-size: 22px;
  border-left: 1px solid purple;
}

.profile-section article input {
  margin: 4px auto;
  padding: 8px;
  width: 10%;
  border-radius: 8px;
  border: none;
  background-color: var(--secondary-color);
  color: #fff;
  font-size: 26px;
}
.profile-section article input:hover {
  cursor: pointer;
}
@media (max-width: 900px) {
  .profile-section article input {
    width: 50%;
  }
}
/*    ---------------------------------------------   */

/*    Projects section    */

.project-section {
  color: #fff;
  justify-content: space-between;
  padding: 52px 0;
}

.project-section .project {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 56px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

.project-section .project-image {
  display: flex;
  align-items: center;
  width: 30%;
  height: 100%;
}
@media (max-width: 600px) {
  .project-section .project-image {
    display: none;
  }
}

.project-section .project-image img {
  display: flex;
  width: 100%;
  height: auto;
}

.project-section .project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.project-content-heading h4 {
  font-size: 34px;
  padding-left: 8px;
}
.project-content-badges {
  display: flex;
  flex-direction: row;

  margin-top: -30px;
  padding-left: 8px;
  width: 100%;
}
.project-content-badges li {
  margin-right: 12px;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid lightgrey;
  background: lightgrey;
  color: black;

  font-size: 12px;
}

.project-content-details {
  width: 100%;
}
.project-content-details li {
  display: flex;
  flex-direction: column;
  margin: 4px 12px;
}
.project-content-details li span {
  justify-content: baseline;
  padding-top: 4px;

  line-height: 1.34;
  font-size: 16px;
}

.project-content-tags {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 12px 0;
}
.project-content-tags li {
  display: flex;
  padding: 6px 12px;
  font-size: 12px;
  color: var(--secondary-color);
}

/* -------------------------------------------------- */

/*  Technology Section  */

.technology-section {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 52px;
  background: #262956;
  color: #fff;
  height: 150vh;
}

.technology-section h2 {
  width: 100%;
  font-size: 48px;
}
.technology-section article {
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.technology-section article h5 {
  margin-left: 18px;
  font-size: 32px;
}
.technology-section .technology-grid {
  display: flex;
  width: 100%;
}
.technology-section .technology-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
  margin-left: 18px;
  width: 120px;
  min-height: 120px;
  background: white;
  color: black;
}
.technology-section .technology-card img {
  display: flex;
  width: 100%;
  height: auto;
}
@media (max-width: 600px) {
  header {
    background: purple;
  }
}
